In [1]:
f = "1903.json"
# use multiline because each json record is split into many lines as can be seen in notepad++
df = spark.read.format("json").option("multiLine", True).option("header" , "true").option("inferSchema", "true").load(f)

In [2]:
df.printSchema()

root
 |-- Result: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- developer: string (nullable = true)
 |    |    |-- developerSales: array (nullable = true)
 |    |    |    |-- element: struct (containsNull = true)
 |    |    |    |    |-- highestPrice: long (nullable = true)
 |    |    |    |    |-- launchedInMonth: long (nullable = true)
 |    |    |    |    |-- launchedToDate: long (nullable = true)
 |    |    |    |    |-- lowestPrice: long (nullable = true)
 |    |    |    |    |-- medianPrice: long (nullable = true)
 |    |    |    |    |-- refPeriod: string (nullable = true)
 |    |    |    |    |-- soldInMonth: long (nullable = true)
 |    |    |    |    |-- soldToDate: long (nullable = true)
 |    |    |    |    |-- unitsAvail: long (nullable = true)
 |    |    |-- district: string (nullable = true)
 |    |    |-- marketSegment: string (nullable = true)
 |    |    |-- project: string (nullable = true)
 |    |    |-- propertyType: string (nullable = true)
 |    |    |-- street: string (nullable = true)
 |    |    |-- x: string (nullable = true)
 |    |    |-- y: string (nullable = true)
 |-- Status: string (nullable = true)

In [3]:
# Now we want to explode 2 times to enter into developerSales so later we get the dataframe at developerSales level
from pyspark.sql.functions import explode

df2 = df.select(explode(df.Result).alias("R"))
df2.printSchema()

root
 |-- R: struct (nullable = true)
 |    |-- developer: string (nullable = true)
 |    |-- developerSales: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- highestPrice: long (nullable = true)
 |    |    |    |-- launchedInMonth: long (nullable = true)
 |    |    |    |-- launchedToDate: long (nullable = true)
 |    |    |    |-- lowestPrice: long (nullable = true)
 |    |    |    |-- medianPrice: long (nullable = true)
 |    |    |    |-- refPeriod: string (nullable = true)
 |    |    |    |-- soldInMonth: long (nullable = true)
 |    |    |    |-- soldToDate: long (nullable = true)
 |    |    |    |-- unitsAvail: long (nullable = true)
 |    |-- district: string (nullable = true)
 |    |-- marketSegment: string (nullable = true)
 |    |-- project: string (nullable = true)
 |    |-- propertyType: string (nullable = true)
 |    |-- street: string (nullable = true)
 |    |-- x: string (nullable = true)
 |    |-- y: string (nullable = true)

In [4]:
# Now we want to explode 2 times to enter into developerSales so later we get the dataframe at developerSales level
from pyspark.sql.functions import explode

df2 = df.select(explode(df.Result).alias("R"))
df2.printSchema()

root
 |-- R: struct (nullable = true)
 |    |-- developer: string (nullable = true)
 |    |-- developerSales: array (nullable = true)
 |    |    |-- element: struct (containsNull = true)
 |    |    |    |-- highestPrice: long (nullable = true)
 |    |    |    |-- launchedInMonth: long (nullable = true)
 |    |    |    |-- launchedToDate: long (nullable = true)
 |    |    |    |-- lowestPrice: long (nullable = true)
 |    |    |    |-- medianPrice: long (nullable = true)
 |    |    |    |-- refPeriod: string (nullable = true)
 |    |    |    |-- soldInMonth: long (nullable = true)
 |    |    |    |-- soldToDate: long (nullable = true)
 |    |    |    |-- unitsAvail: long (nullable = true)
 |    |-- district: string (nullable = true)
 |    |-- marketSegment: string (nullable = true)
 |    |-- project: string (nullable = true)
 |    |-- propertyType: string (nullable = true)
 |    |-- street: string (nullable = true)
 |    |-- x: string (nullable = true)
 |    |-- y: string (nullable = true)

In [5]:
# this is end explosion to enter into developer sales.
# cannot just do 1 explosion of df.Result.developerSales, because it will endup as struct is array
df3= df2.select(explode(df2.R.developerSales).alias("developerSales"))
df3.printSchema()
df4 = df3.select(df3.developerSales.launchedToDate.alias("NumUnitsLaunchedToDate"), \
                df3.developerSales.soldToDate.alias("NumUnitsSoldToDate"), \
                df3.developerSales.highestPrice.alias("HighestPricePerSQFT"), \
                df3.developerSales.lowestPrice.alias("LowestPricePerSQFT"), \
                df3.developerSales.medianPrice.alias("MediumPricePerSQFT"), \
                df3.developerSales.soldInMonth.alias("SoldInMonth"))
df4.show()

root
 |-- developerSales: struct (nullable = true)
 |    |-- highestPrice: long (nullable = true)
 |    |-- launchedInMonth: long (nullable = true)
 |    |-- launchedToDate: long (nullable = true)
 |    |-- lowestPrice: long (nullable = true)
 |    |-- medianPrice: long (nullable = true)
 |    |-- refPeriod: string (nullable = true)
 |    |-- soldInMonth: long (nullable = true)
 |    |-- soldToDate: long (nullable = true)
 |    |-- unitsAvail: long (nullable = true)

+----------------------+------------------+-------------------+------------------+------------------+-----------+
|NumUnitsLaunchedToDate|NumUnitsSoldToDate|HighestPricePerSQFT|LowestPricePerSQFT|MediumPricePerSQFT|SoldInMonth|
+----------------------+------------------+-------------------+------------------+------------------+-----------+
|                    19|                 9|                  0|                 0|                 0|          0|
|                   720|               699|                  0|                 0|                 0|          0|
|                   200|                77|               1614|              1281|              1434|         77|
|                   505|               505|               1455|              1455|              1455|          1|
|                     0|                 0|                  0|                 0|                 0|          0|
|                   110|                 4|               1517|              1472|              1482|          4|
|                     0|                 0|                  0|                 0|                 0|          0|
|                   841|               738|               2003|              1897|              1979|          3|
|                   400|               318|               2107|              1728|              1918|          2|
|                   345|               316|               2847|              2560|              2676|          7|
|                    12|                 5|                  0|                 0|                 0|          0|
|                   660|               657|                  0|                 0|                 0|          0|
|                   504|               503|               1043|               995|              1019|          2|
|                     0|                 0|                  0|                 0|                 0|          0|
|                    44|                44|               1405|              1405|              1405|          1|
|                    16|                11|               1607|              1607|              1607|          1|
|                    33|                11|               2175|              2175|              2175|          1|
|                    61|                51|               1257|              1213|              1235|          2|
|                     0|                 0|                  0|                 0|                 0|          0|
|                   628|               628|                  0|                 0|                 0|          0|
+----------------------+------------------+-------------------+------------------+------------------+-----------+
only showing top 20 rows

In [6]:
# calculate PercentageSold
import pyspark.sql.functions as func
df5 = df4.withColumn("PercentageSold",(df4["NumUnitsSoldToDate"]/df4["NumUnitsLaunchedToDate"])*100)
# round 'PercentageSold' in a new column:
# https://stackoverflow.com/questions/47046827/trouble-with-pyspark-round-function
df5 = df5.withColumn("PercentageSold", func.round(df5["PercentageSold"], 2))

df5.show()

+----------------------+------------------+-------------------+------------------+------------------+-----------+--------------+
|NumUnitsLaunchedToDate|NumUnitsSoldToDate|HighestPricePerSQFT|LowestPricePerSQFT|MediumPricePerSQFT|SoldInMonth|PercentageSold|
+----------------------+------------------+-------------------+------------------+------------------+-----------+--------------+
|                    19|                 9|                  0|                 0|                 0|          0|         47.37|
|                   720|               699|                  0|                 0|                 0|          0|         97.08|
|                   200|                77|               1614|              1281|              1434|         77|          38.5|
|                   505|               505|               1455|              1455|              1455|          1|         100.0|
|                     0|                 0|                  0|                 0|                 0|          0|          null|
|                   110|                 4|               1517|              1472|              1482|          4|          3.64|
|                     0|                 0|                  0|                 0|                 0|          0|          null|
|                   841|               738|               2003|              1897|              1979|          3|         87.75|
|                   400|               318|               2107|              1728|              1918|          2|          79.5|
|                   345|               316|               2847|              2560|              2676|          7|         91.59|
|                    12|                 5|                  0|                 0|                 0|          0|         41.67|
|                   660|               657|                  0|                 0|                 0|          0|         99.55|
|                   504|               503|               1043|               995|              1019|          2|          99.8|
|                     0|                 0|                  0|                 0|                 0|          0|          null|
|                    44|                44|               1405|              1405|              1405|          1|         100.0|
|                    16|                11|               1607|              1607|              1607|          1|         68.75|
|                    33|                11|               2175|              2175|              2175|          1|         33.33|
|                    61|                51|               1257|              1213|              1235|          2|         83.61|
|                     0|                 0|                  0|                 0|                 0|          0|          null|
|                   628|               628|                  0|                 0|                 0|          0|         100.0|
+----------------------+------------------+-------------------+------------------+------------------+-----------+--------------+
only showing top 20 rows

In [7]:
# add a key to this table because this table is made from the json exploded 2 levels, but other
# values we draw like Project and District are exploded 1 level in, so there is no connection

from pyspark.sql.functions import monotonically_increasing_id
df6 = df5.select("*").withColumn("id", monotonically_increasing_id())
df6.show()
df6.count()

+----------------------+------------------+-------------------+------------------+------------------+-----------+--------------+---+
|NumUnitsLaunchedToDate|NumUnitsSoldToDate|HighestPricePerSQFT|LowestPricePerSQFT|MediumPricePerSQFT|SoldInMonth|PercentageSold| id|
+----------------------+------------------+-------------------+------------------+------------------+-----------+--------------+---+
|                    19|                 9|                  0|                 0|                 0|          0|         47.37|  0|
|                   720|               699|                  0|                 0|                 0|          0|         97.08|  1|
|                   200|                77|               1614|              1281|              1434|         77|          38.5|  2|
|                   505|               505|               1455|              1455|              1455|          1|         100.0|  3|
|                     0|                 0|                  0|                 0|                 0|          0|          null|  4|
|                   110|                 4|               1517|              1472|              1482|          4|          3.64|  5|
|                     0|                 0|                  0|                 0|                 0|          0|          null|  6|
|                   841|               738|               2003|              1897|              1979|          3|         87.75|  7|
|                   400|               318|               2107|              1728|              1918|          2|          79.5|  8|
|                   345|               316|               2847|              2560|              2676|          7|         91.59|  9|
|                    12|                 5|                  0|                 0|                 0|          0|         41.67| 10|
|                   660|               657|                  0|                 0|                 0|          0|         99.55| 11|
|                   504|               503|               1043|               995|              1019|          2|          99.8| 12|
|                     0|                 0|                  0|                 0|                 0|          0|          null| 13|
|                    44|                44|               1405|              1405|              1405|          1|         100.0| 14|
|                    16|                11|               1607|              1607|              1607|          1|         68.75| 15|
|                    33|                11|               2175|              2175|              2175|          1|         33.33| 16|
|                    61|                51|               1257|              1213|              1235|          2|         83.61| 17|
|                     0|                 0|                  0|                 0|                 0|          0|          null| 18|
|                   628|               628|                  0|                 0|                 0|          0|         100.0| 19|
+----------------------+------------------+-------------------+------------------+------------------+-----------+--------------+---+
only showing top 20 rows

131

In [8]:
# now explode only the layer of "Result", which is df2 above
df7 = df2.select(df2.R.project.alias("Project"),df2.R.district.alias("District"), df2.R.street.alias("Street"),\
                 df2.R.marketSegment.alias("MarketSegment"), \
                 df2.R.propertyType.alias("PropertyType"))
df8 = df7.select("*").withColumn("id", monotonically_increasing_id())
df8.show()
df8.count()

+--------------------+--------+--------------------+-------------+-------------+---+
|             Project|District|              Street|MarketSegment| PropertyType| id|
+--------------------+--------+--------------------+-------------+-------------+---+
|   CAYMAN RESIDENCES|      15|   EAST COAST AVENUE|          OCR|       Landed|  0|
|GRANDEUR PARK RES...|      16|BEDOK SOUTH AVENUE 3|          OCR|   Non-Landed|  1|
|THE FLORENCE RESI...|      19|    HOUGANG AVENUE 2|          OCR|   Non-Landed|  2|
|  THE CLEMENT CANOPY|      05|   CLEMENTI AVENUE 1|          OCR|   Non-Landed|  3|
|COASTLINE RESIDENCES|      15|          AMBER ROAD|          RCR|   Non-Landed|  4|
|             REZI 24|      14|   LORONG 24 GEYLANG|          RCR|   Non-Landed|  5|
|THE GREEN COLLECTION|      04|          COVE DRIVE|          CCR|Strata-Landed|  6|
|  SEASIDE RESIDENCES|      15|         SIGLAP LINK|          OCR|   Non-Landed|  7|
|               ARTRA|      03|      ALEXANDRA VIEW|          RCR|   Non-Landed|  8|
|       MARTIN MODERN|      09|        MARTIN PLACE|          CCR|   Non-Landed|  9|
|          HILLSGROVE|      19|      HILLSIDE DRIVE|          OCR|Strata-Landed| 10|
|      DUO RESIDENCES|      07|       FRASER STREET|          CCR|   Non-Landed| 11|
|      TREASURE CREST|      19| ANCHORVALE CRESCENT|          OCR|   Exec Condo| 12|
|     ROOTS @ TRANSIT|      26|        TRANSIT ROAD|          OCR|   Non-Landed| 13|
|             REZI 35|      14|   LORONG 35 GEYLANG|          RCR|   Non-Landed| 14|
|CARPMAEL THIRTY-E...|      15|       CARPMAEL ROAD|          RCR|   Non-Landed| 15|
|                  M5|      10|       JALAN MUTIARA|          CCR|   Non-Landed| 16|
|    KANDIS RESIDENCE|      27|         KANDIS LINK|          OCR|   Non-Landed| 17|
|LANDED HOUSING DE...|      11|         LORNIE ROAD|          CCR|       Landed| 18|
|           PARC LIFE|      27|  SEMBAWANG CRESCENT|          OCR|   Exec Condo| 19|
+--------------------+--------+--------------------+-------------+-------------+---+
only showing top 20 rows

131

In [9]:
# joining df6 and df8 by the id key
df_final = df6.join(df8, df8["id"] == df6["id"])
df_final= df_final.select("Project","PercentageSold","NumUnitsLaunchedToDate",
                          "NumUnitsSoldToDate","District","Street", 
                          "HighestPricePerSQFT",
                          "LowestPricePerSQFT",
                          "MediumPricePerSQFT",
                          "MarketSegment",
                          "SoldInMonth")

df_final.printSchema()

root
 |-- Project: string (nullable = true)
 |-- PercentageSold: double (nullable = true)
 |-- NumUnitsLaunchedToDate: long (nullable = true)
 |-- NumUnitsSoldToDate: long (nullable = true)
 |-- District: string (nullable = true)
 |-- Street: string (nullable = true)
 |-- HighestPricePerSQFT: long (nullable = true)
 |-- LowestPricePerSQFT: long (nullable = true)
 |-- MediumPricePerSQFT: long (nullable = true)
 |-- MarketSegment: string (nullable = true)
 |-- SoldInMonth: long (nullable = true)

In [10]:
# cast the datatype according to the specs
df_final = df_final.withColumn("NumUnitsLaunchedToDate", df_final['NumUnitsLaunchedToDate'].cast("int"))
df_final = df_final.withColumn("NumUnitsSoldToDate", df_final['NumUnitsSoldToDate'].cast("int"))
df_final = df_final.withColumn("District", df_final['District'].cast("int"))
df_final = df_final.withColumn("HighestPricePerSQFT", df_final['District'].cast("double"))
df_final = df_final.withColumn("LowestPricePerSQFT", df_final['District'].cast("double"))
df_final = df_final.withColumn("MediumPricePerSQFT", df_final['District'].cast("double"))
df_final = df_final.withColumn("SoldInMonth", df_final['SoldInMonth'].cast("int"))
df_final.printSchema()

root
 |-- Project: string (nullable = true)
 |-- PercentageSold: double (nullable = true)
 |-- NumUnitsLaunchedToDate: integer (nullable = true)
 |-- NumUnitsSoldToDate: integer (nullable = true)
 |-- District: integer (nullable = true)
 |-- Street: string (nullable = true)
 |-- HighestPricePerSQFT: double (nullable = true)
 |-- LowestPricePerSQFT: double (nullable = true)
 |-- MediumPricePerSQFT: double (nullable = true)
 |-- MarketSegment: string (nullable = true)
 |-- SoldInMonth: integer (nullable = true)

In [11]:
# Run SQL queries on Dataframe: filter top 20
# Register the DataFrame as a SQL temporary view
df_final.createOrReplaceTempView("privateProperties2")

sqlDF = spark.sql("SELECT * FROM privateProperties2 \
WHERE PercentageSold IS NOT NULL")
sqlDF.show()

+--------------------+--------------+----------------------+------------------+--------+--------------------+-------------------+------------------+------------------+-------------+-----------+
|             Project|PercentageSold|NumUnitsLaunchedToDate|NumUnitsSoldToDate|District|              Street|HighestPricePerSQFT|LowestPricePerSQFT|MediumPricePerSQFT|MarketSegment|SoldInMonth|
+--------------------+--------------+----------------------+------------------+--------+--------------------+-------------------+------------------+------------------+-------------+-----------+
|   CAYMAN RESIDENCES|         47.37|                    19|                 9|      15|   EAST COAST AVENUE|               15.0|              15.0|              15.0|          OCR|          0|
|GRANDEUR PARK RES...|         97.08|                   720|               699|      16|BEDOK SOUTH AVENUE 3|               16.0|              16.0|              16.0|          OCR|          0|
|THE FLORENCE RESI...|          38.5|                   200|                77|      19|    HOUGANG AVENUE 2|               19.0|              19.0|              19.0|          OCR|         77|
|  THE CLEMENT CANOPY|         100.0|                   505|               505|       5|   CLEMENTI AVENUE 1|                5.0|               5.0|               5.0|          OCR|          1|
|             REZI 24|          3.64|                   110|                 4|      14|   LORONG 24 GEYLANG|               14.0|              14.0|              14.0|          RCR|          4|
|  SEASIDE RESIDENCES|         87.75|                   841|               738|      15|         SIGLAP LINK|               15.0|              15.0|              15.0|          OCR|          3|
|               ARTRA|          79.5|                   400|               318|       3|      ALEXANDRA VIEW|                3.0|               3.0|               3.0|          RCR|          2|
|       MARTIN MODERN|         91.59|                   345|               316|       9|        MARTIN PLACE|                9.0|               9.0|               9.0|          CCR|          7|
|          HILLSGROVE|         41.67|                    12|                 5|      19|      HILLSIDE DRIVE|               19.0|              19.0|              19.0|          OCR|          0|
|      DUO RESIDENCES|         99.55|                   660|               657|       7|       FRASER STREET|                7.0|               7.0|               7.0|          CCR|          0|
|      TREASURE CREST|          99.8|                   504|               503|      19| ANCHORVALE CRESCENT|               19.0|              19.0|              19.0|          OCR|          2|
|             REZI 35|         100.0|                    44|                44|      14|   LORONG 35 GEYLANG|               14.0|              14.0|              14.0|          RCR|          1|
|CARPMAEL THIRTY-E...|         68.75|                    16|                11|      15|       CARPMAEL ROAD|               15.0|              15.0|              15.0|          RCR|          1|
|                  M5|         33.33|                    33|                11|      10|       JALAN MUTIARA|               10.0|              10.0|              10.0|          CCR|          1|
|    KANDIS RESIDENCE|         83.61|                    61|                51|      27|         KANDIS LINK|               27.0|              27.0|              27.0|          OCR|          2|
|           PARC LIFE|         100.0|                   628|               628|      27|  SEMBAWANG CRESCENT|               27.0|              27.0|              27.0|          OCR|          0|
|          ASPEN LINQ|         94.44|                    18|                17|       9|    INSTITUTION HILL|                9.0|               9.0|               9.0|          CCR|          0|
|         SANDY EIGHT|          70.0|                    20|                14|      15|          SANDY LANE|               15.0|              15.0|              15.0|          RCR|          1|
|        ASCENT @ 456|         96.43|                    28|                27|      12|      BALESTIER ROAD|               12.0|              12.0|              12.0|          RCR|          0|
| THE POIZ RESIDENCES|         99.45|                   731|               727|      13|MEYAPPA CHETTIAR ...|               13.0|              13.0|              13.0|          RCR|          0|
+--------------------+--------------+----------------------+------------------+--------+--------------------+-------------------+------------------+------------------+-------------+-----------+
only showing top 20 rows

In [12]:
# save the final dataframe
sqlDF.repartition(1).write.format("csv").option("header","true").mode("overwrite").save("All_Unsold_PrivateProperties_bonus.csv")